<div class="subdiv" ng-controller = 'pollsController as PC'>
    <a href="#/newpoll">Create a New Poll</a>
    <a href="/logout" ng-click=PC.logout()>Log Out</a>
    <h1>Current polls:</h1>
    Search:<input ng-model="filter_name">
    <br><br>
    <table class="table table-striped">
        <thead>
            <td>Name</td>
            <td>Survey Question</td>
            <td>Date Posted</td>
            <td>Action</td>
        </thead>
        <tr ng-repeat="poll in PC.polls | filter:filter_name">
            <td>{{poll._user.name}}</td>
            <td><a href='#/show/{{poll._id}}'>{{poll.question}}</a></td>
            <td>{{poll.created_at | date: 'short' }}</td>
            <td><button ng-click=PC.delete($index)>Delete</button></td>
        </tr>
    </table>


</div>
